<footer class="footer mt-auto py-3 bg-light border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <span class="text-muted">Docker Registry UI v{{ version }} - Built by <strong>{{ built_by }}</strong></span>
      </div>
      <div class="col-md-6 text-end">
        <span class="text-muted">
          <i class="bi bi-github"></i> 
          <a href="https://github.com/VibhuviOiO/docker-registry-ui" class="text-decoration-none" target="_blank">GitHub</a>
        </span>
      </div>
    </div>
  </div>
</footer>
