<div class="sidebar bg-light border-end" id="sidebar">
  <div class="p-3">
    <h6 class="text-muted">MENU</h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#" data-view="repositories">
          <i class="bi bi-box-seam"></i> Repositories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-view="registries">
          <i class="bi bi-server"></i> Registry Config
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-view="cleanup">
          <i class="bi bi-trash3"></i> Cleanup Instructions
        </a>
      </li>
    </ul>
  </div>
</div>
