<div class="sidebar bg-light border-end" id="sidebar">
  <div class="p-3">
    <h6 class="text-muted">MENU</h6>
    <hr class="my-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#" data-view="repositories">
          <i class="bi bi-box-seam"></i> Repositories
        </a>
      </li>
      {% if not read_only %}
      <li class="nav-item">
        <a class="nav-link" href="#" data-view="registries">
          <i class="bi bi-server"></i> Registry Config
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-view="cleanup">
          <i class="bi bi-trash3"></i> Cleanup Instructions
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-view="bulk">
          <i class="bi bi-trash3-fill"></i> Bulk Operations
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="#" data-view="analytics">
          <i class="bi bi-graph-up"></i> Analytics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-view="vulnerabilities">
          <i class="bi bi-shield-exclamation"></i> Vulnerabilities
        </a>
      </li>
    </ul>
  </div>
</div>
